.layui-margin-top5{
	margin-top: 5px;
}
.layui-margin-top10{
	margin-top: 10px;
}
.layui-margin-top15{
	margin-top: 15px;
}
.layui-margin-top20{
	margin-top: 20px;
}
.layui-margin-top25{
	margin-top: 25px;
}
.layui-margin-top30{
	margin-top: 30px;
}