.layui-margin-top5{
	margin-top: 5px;
}
.layui-margin-top10{
	margin-top: 10px;
}
.layui-margin-top15{
	margin-top: 15px;
}
.layui-margin-top20{
	margin-top: 20px;
}
.layui-margin-top25{
	margin-top: 25px;
}
.layui-margin-top30{
	margin-top: 30px;
}
.layui-padding-5{
	padding: 5px;
}
.layui-padding-10{
	padding: 10px;
}
.layui-padding-15{
	padding: 15px;
}
.layui-padding-20{
	padding: 20px;
}
.layui-padding-25{
	padding: 25px;
}
.layui-padding-30{
	padding: 30px;
}